:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --color-icon-text:#FFE7D6;
    --color-yellow: #E8D575;
  --color-red: #E88F9D;
  --color-green: #00A56A;
  --color-blue: #0068BF;
  --color-blue-icon:#87A3B5;
  --color-lightblue: #75c2e0;
  --color-blue-second: #1E90FF;
  --color-blue-third: #2E64FE;
  --color-blue-forth: rgba(18, 18, 249, 0.7);
  --color-blue-fifth: #0072C6;
  --color-white: #ffffff;
  --color-cloud: rgba(255, 255, 255, 0.9);
  --color-bg: whitesmoke;
  --box-shadow-regular: #7da2b9 0px 5px 10px;
  /* --box-shadow-regular: rgba(0, 0, 0, 0.1) 0px 5px 10px; */
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


