.body {
  display: flex;
  width: 100vw;
}

.figure {
  width: 45%;
  height: 100vh;
  background-color: var(--color-blue-icon);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 5%;
}

.img {
  object-fit: cover;
}

.figure p {
  font-weight: 700;
  color: var(--color-icon-text);
  font-size: 22px;
}

.formClass {
  display: flex;
  flex-direction: column;
  row-gap: 10%;
  padding: 13% 10% 0% 10%;
  width: 90%;
  height: 45%;
  color: var(--color-icon-text);
}

.formClass > div {
  display: flex;
}

.formClass > div:first-child,
.formClass > div:nth-child(2){
  column-gap: 5%;
  padding-bottom: 2%;
}

.initial__word {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}

.user__input {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
}

.formClass input,
.formClass select {
  border: 1px solid var(--color-icon-text);
  background-color: var(--color-blue-icon);
  padding: 0% 2%;
  color: var(--color-icon-text);
  border-radius: 10px;
  font-size: 16px;
  height: 5vh;
}

.formClass select option {
    font-size: 16px; 
}

.formClass label{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.formClass button {
  padding: 0% 2%;
  border: 1px solid var(--color-icon-text);
  background-color: var(--color-icon-text);
  border-radius: 10px;
  color: var(--color-blue-icon);
  font-weight: 700;
  font-size: 16px;
  width: 6vw;
  height: 5vh;
}

.formClass select:hover,
.formClass button:hover {
  transition: .3s;
  box-shadow: var(--box-shadow-regular);
  cursor: pointer;
  transform: translateY(-3px);
  transition-duration: .3s;
}

.formClass input {
  padding: 3%;
}

.formClass h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formClass input::placeholder {
  color: var(--color-icon-text);
}

.formClass input:focus {
  border: 1px solid var(--color-cloud);
}

.formClass details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formClass summary {
  cursor: pointer;
  padding-bottom: 1.5vh;
  font-size: 16px;
}

.formClass details small{
  letter-spacing: 1.3px;
  line-height: 1.3;
  font-size: 14px;
}

/* right part */

.mainClass {
  background-color: var(--color-icon-text);
  width: 55%;
  height: 100vh;
}

.synonyms {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  align-items: center;
  padding: 3%;
}

.exampTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 1vh;
}

.synonym {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.synonym h2 {
  padding-bottom: 3%;
}

.synonym ul {
  padding-left: 3vh;
}

.synonym li {
  line-height: 1.5;
  letter-spacing: 1.3px;
}

/* answer more than 6 */

.adjust__synonyms {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  align-items: center;
}

.adjust__exampTitle {
 display: none;
}

.adjust__synonym {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.adjust__synonym h2 {
  width: 20vh;
}

.adjust__synonym ul {
  padding-left: 3vh;
}

.adjust__synonym li {
  letter-spacing: .8px;
}

/* mobile */
@media screen and (max-width:767px) {
  .body {
    flex-direction: column;
  }

  .figure,
  .mainClass {
    width: 100%;
  }

  .formClass label {
    font-size: 14px;
  }

  .figure {
    height: 75vh;
  }

  .initial__word {
    display: flex;
    flex-direction: column;
    row-gap: 5vw;
  }

  .user__input {
    display: flex;
    column-gap: 3vw;
  }


  .submit__button > button {
    height: 4vh;
    width: 20vw;
  }

}

/* tablet */
@media screen and (min-width:767px) and (max-width: 1023px) {

  .formClass label {
    font-size: 16px;
  }


  .initial__word {
    display: flex;
    flex-direction: column;
    row-gap: 5vw;
  }

  .user__input {
    display: flex;
    column-gap: 3vw;
  }


  .submit__button > button {
    height: 5vh;
    width: 20vw;
  }

}